*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background-color: black;
    color: white;
}

.container{
    height: 96vh;
}

/* left panel */

.left{
    width: 23vw;
    padding: 10px;
    height: 100%;
}

.right{
    width: 77vw;
    height: 100%;
}

/* home */

.home{
    height: 20vh;
}


.home ul li{
    width: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 0.85rem;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

/* library */

.heading{
    width: 100%;
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 0.85rem;
    align-items: center;
    font-size: 0.85rem;
}

.heading img{
    width: 25px;
}

.songList{
    margin-top: 10px;
    height: 50vh;
    overflow: auto;
}

.songList ul{
    padding: 10px 0px;
}

.songList ul li{
    background-color: #1D1D1D;
    list-style-type: decimal;
    font-size: 0.8rem;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0px;
    /* border: 1px solid rgb(49, 49, 49); */
    margin: 10px 0px;
    margin-right: 8px;
    border-radius: 8px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.songList ul li:hover{
    background-color: #3a3939;
}

/* .playnow{
    
} */

.library{
    height: 63vh;
    position: relative;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-right: 2vh;
    padding-bottom: 2vh;
}

.footer a{
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(163, 161, 161);
}

/* right */

/* button */

.buttons > *{
    margin: 0px 12px;
}

.signupbtn{
    background-color: #101010;
    color: rgb(170, 169, 169);
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

.signupbtn:hover{
    color: white;
    font-size: 85%;
}

.loginbtn{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-weight: 700;
    width: 99px;
    cursor: pointer;
}

.loginbtn:hover{
    background-color: rgb(240, 239, 239);
    color: black;
    /* width: 105px; */
    font-weight: bolder;
}

.right{
    margin: 13px 13px 21px 0px;
    background-color: #1D1D1D;
    position: relative;
}

.header > *{
    padding: 0px;
}

.header{
    justify-content: space-between;
    background-color: #121212;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.playlists{
    background-color: #1D1D1D;
}

.card-container{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 65vh;
}

.card{
    width: 150px;
    background-color: #161616;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

/* .card > *{
    padding-top: 5px;
} */

.card p{
    font-size: 0.8rem;
    color: rgb(194, 190, 190);
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

/* playbar */

.play{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 125px;
    right: -50px;
    opacity: 0;
    transition: all 1s ease-out;
}

.playbar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #333333;
    height: 45px;
    width: 99%;
    padding: 5px;
    border-radius: 0px 0px 7px 7px;
}

.songbtns{
    position: absolute;
    bottom: 16px;
    left: 46%;
    color: rgb(240, 240, 240);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 1.2rem;
    gap: 12px;
}

.seekbar{
    height: 1.6px;
    width: 99.7%;
    border: 1.6px solid #1fdf64;
    background-color: #1fdf64;
    position: absolute;
    top: 0px;
    left: 0.5px;
    cursor: pointer;
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    position: relative;
    bottom: 5px;
    left: -1px;
    transition: left 0.5s;
}

.songbtns i{
    cursor: pointer;
}

.song-control{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}