*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    /* background-color: black;
    color: white; */
}

/* left panel */

.left{
    width: 23vw;
    padding: 10px;
}

.right{
    width: 77vw;
}

/* home */

.home ul li{
    width: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 0.85rem;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

/* library */

.heading{
    width: 100%;
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 0.85rem;
    align-items: center;
    font-size: 0.85rem;
}

.heading img{
    width: 25px;
}

.library{
    min-height: 30vh;
    position: relative;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-right: 2vh;
    padding-bottom: 2vh;
}

.footer a{
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(163, 161, 161);
}

/* right */

.right{
    margin: 13px 13px 21px 0px;
}

.header > *{
    padding: 0px;
}

.header{
    justify-content: space-between;
}

.playlists{
    background-color: #1D1D1D;
}

.card{
    
}